:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Poppins";
  src: url(../Poppins/Poppins-LightItalic.ttf);
}*/
@font-face {
  font-family: "Oswald";
  src: url(../Oswald/Oswald-VariableFont_wght.ttf);
}

body {
  max-width: 1280px;
  margin: auto;
}

.home {
  height: auto;
}

nav {
  top: 0;
  margin: 0;
  position: fixed;
  display: flex;
  width: 1280px;
  align-items: center;
  background-color: #ededed;
  box-shadow: 0px 0px 2px black;
  padding-left: 100px;
}
h4 {
  height: auto;
  width: 750px;
  padding-top: 10px;
  margin-right: 15rem;
  margin-bottom: 1rem;
  font-family: "Oswald";
  color: black;
  font-size: 30px;
  align-items: center;
}
a i {
  margin-top: 6px;
  color: black;
  padding: 6px 6px 6px 6px;
  border-radius: 20px;
}
a i:hover {
  background-color: #b1b1b6;
  color: azure;
}

h5 {
  padding-top: 8rem;
  margin-left: 80px;
  font-size: 40px;
  font-family: "Oswald";
}
hr {
  margin-left: 80px;
  width: 200px;
  height: 3px;
  background-color: black;
}
#border {
  display: flex;
  margin-top: 2rem;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.deskripsi a {
  padding: 5px 5px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 1px 1px 2px black;
  background-color: #dbdbdb;
  margin-bottom: 20px;
}
.deskripsi a:hover {
  color: white;
  background-color: #474747;
  transform: scale(2);
}
.deskripsi p {
  margin-bottom: 20px;
}
.bagian1 img {
  margin-left: 70px;
}
.bagian1 {
  font-family: "Poppins";
  box-shadow: 1px 1px 2px black;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #ededed;
  align-items: center;
  /* flex-direction: column; */
  width: 30%;
  margin: 30px 30px 30px 30px;
}
.bagian2 {
  font-family: "Poppins";
  box-shadow: 1px 1px 2px black;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #ededed;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 30px 30px 30px 30px;
}
.bagian2 img {
  margin-left: 70px;
}
.bagian3 {
  font-family: "Poppins";
  box-shadow: 1px 1px 2px black;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  background-color: #ededed;
  align-items: center;
  flex-direction: column;
  width: 30%;
  margin: 30px 30px 30px 30px;
}
.bagian3 img {
  justify-content: center;
  width: 250px;
  margin-left: 20px;
}
img {
  height: 150px;
  width: 150px;
}

@media screen and (max-width: 560px) {
  nav {
    position: fixed;
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: 1px 1px 4px black;
  }
  h4 {
    margin-left: 0;
    padding-top: 12px;
    width: 0;
    font-size: 20px;
    color: black;
    font-family: "Oswald";
  }
  .garis {
    width: 320px;
  }
  h5 {
    margin-left: 0;
    text-align: center;
  }
  #border {
    flex-direction: column;
  }
  .bagian1 {
    width: auto;
  }
  .bagian2 {
    width: auto;
  }
  .bagian2 img {
    margin-left: 75px;
  }
  .bagian2 p {
    margin-left: 0;
  }
  .bagian2 a {
    margin-left: 0;
  }
  .bagian3 {
    width: auto;
  }
  .bagian1 img {
    margin-left: 75px;
  }
  .bagian3 img {
    margin-left: 20px;
  }
}

@media screen and (max-width: 460px) {
  nav {
    left: 0;
    right: 0;
    width: auto;
    margin: 10px;
    position: fixed;
  }
  h4 {
    margin-right: 160px;
    left: 0;
  }
  a i {
    margin-top: 7px;
  }
  hr {
    width: 245px;
  }
  .bagian1 {
    flex-direction: none;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .bagian3 img {
    width: 100px;
    margin-left: 55px;
  }
}
