:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* @font-face {
  font-family: "Poppins";
  src: url(../Poppins/Poppins-LightItalic.ttf);
}*/
@font-face {
  font-family: "Oswald";
  src: url(../Oswald/Oswald-VariableFont_wght.ttf);
}

body {
  max-width: 1280px;
  margin: auto;
  background-color: #f3f6fb;
}

.home {
  height: auto;
}
.judul hr {
  margin-left: 80px;
  width: 200px;
  height: 3px;
  background-color: black;
}
nav {
  top: 0;
  margin: 0;
  position: fixed;
  display: flex;
  width: 1280px;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(187, 187, 212);
  padding-left: 100px;
}
h4 {
  height: auto;
  width: 750px;
  padding-top: 10px;
  margin-right: 15rem;
  margin-bottom: 1rem;
  font-family: "Oswald";
  color: black;
  font-size: 30px;
  align-items: center;
}
a i {
  margin-top: 6px;
  color: black;
  padding: 6px 6px 6px 6px;
  border-radius: 20px;
}
a i:hover {
  background-color: #f3f6fb;
  color: black;
}

h5 {
  padding-top: 8rem;
  margin-left: 80px;
  font-size: 40px;
  font-family: "Oswald";
}
/* hr {
  margin-left: 80px;
  width: 200px;
  height: 3px;
  background-color: black;
} */
#border {
  display: flex;
  margin-top: 2rem;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}
.deskripsi a {
  text-decoration: none;
  color: black;
}
.deskripsi p {
  margin-bottom: 20px;
}
.bagian1 img {
  left: 0;
  margin-left: 0;
}
.bagian1 {
  display: flex;
  font-family: "Poppins";
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  align-items: center;
  /* flex-direction: column; */
  margin: 30px 30px 30px 30px;
  box-shadow: 1px 1px 10px rgb(187, 187, 212);
}
.bagian2 {
  display: flex;
  margin-top: 30px;
  font-family: "Poppins";
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  align-items: center;
  margin: 30px 30px 30px 30px;
  box-shadow: 1px 1px 10px rgb(187, 187, 212);
}
.bagian3 {
  display: flex;
  font-family: "Poppins";
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  align-items: center;
  margin-top: 30px;
  margin: 30px 30px 30px 30px;
  box-shadow: 1px 1px 10px rgb(187, 187, 212);
}
.bagian3 img {
  justify-content: center;
  width: 80px;
}
img {
  margin-right: 40px;
  height: 70px;
  width: 70px;
}

@media screen and (max-width: 560px) {
  nav {
    position: fixed;
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: flex-start;
    box-shadow: rgb(187, 187, 212);
  }
  h4 {
    margin-left: 0;
    padding-top: 12px;
    width: 0;
    font-size: 20px;
    color: black;
    font-family: "Oswald";
  }
  h5 {
    margin-left: 0;
    text-align: center;
    font-size: 30px;
  }
  #border {
    flex-direction: column;
  }
  .judul hr {
    margin-left: 0;
  }
  .judul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bagian1 {
    width: auto;
  }
  .bagian2 {
    width: auto;
  }
  .bagian2 a {
    margin-left: 0;
  }
  .bagian3 {
    width: auto;
  }
}

@media screen and (max-width: 460px) {
  nav {
    left: 0;
    right: 0;
    width: auto;
    margin: 10px;
    position: fixed;
  }
  h4 {
    margin-right: 160px;
    left: 0;
  }
  a i {
    margin-top: 7px;
  }
  hr {
    width: 245px;
  }
  .bagian1 {
    flex-direction: none;
  }
  img {
    width: 50px;
    height: 50px;
  }
  .bagian3 img {
    width: 50px;
  }
}
