:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Oswald";
  src: url(../Oswald/Oswald-VariableFont_wght.ttf);
}
body {
  max-width: 1280px;
  margin: auto;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

nav {
  top: 0;
  margin: 0;
  position: fixed;
  display: flex;
  width: 1280px;
  align-items: center;
  background-color: #dadcff;
  box-shadow: 0px 1px 4px black;
  z-index: 3;
}

ul {
  display: flex;
}

nav h4 {
  margin-top: 0;
}

h4 {
  height: auto;
  width: 500px;
  padding-top: 10px;
  margin-left: 90px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  font-family: "Oswald";
  color: black;
  font-size: 30px;
  align-items: center;
}

a {
  color: black;
  font-family: "Poppins";
}

.link ul li a {
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  transition: 0.5s;
}

.toggle-menu {
  position: absolute;
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 21px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}
.link ul li a:hover {
  color: black;
  background-color: #dedee3;
  width: 100%;
}

.link ul {
  list-style: none;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}
.conten img {
  height: 300px;
  width: 300px;
}
.conten {
  text-align: center;
  flex-direction: column;
  font-family: "Poppins";
  font-size: 30px;
  padding-top: 80px;
  padding-bottom: 30px;
  color: black;
  text-shadow: 1px 1px 4px #c4c5d2;
  z-index: 5;
}

#tentang {
  scroll-margin-top: 55px;
}
.judul-tentang {
  background-color: #dadcff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.judul-tentang h5 {
  padding-bottom: 1rem;
}

.deskripsi {
  display: flex;
  align-items: center;
  background-color: #dadcff;
}

.judul-tentang hr {
  margin-top: -18px;
  margin-left: 90px;
  width: 300px;
  height: 3px;
  background-color: black;
}
#tutorial hr {
  margin-left: 90px;
  width: 200px;
  margin-top: -10px;
  margin-bottom: 50px;
  height: 3px;
  background-color: black;
}

h5 {
  margin-left: 90px;
  font-size: 40px;
  font-family: "Poppins";
  padding-top: 2rem;
  margin-top: 3rem;
  color: black;
}
.deskripsi p {
  margin-left: 90px;
  font-family: "Poppins";
  font-size: 20px;
  width: 600px;
}

.deskripsi img {
  /* width: 300px;
  height: 230px; */
  padding-bottom: 2rem;
  /* background-color: transparent; */
  background-color: transparent;
  /* margin-bottom: 2rem; */
  width: 400;
  height: 350px;
}

.judul-tutorial h5 {
  margin-left: 90px;
  font-size: 40px;
  font-family: "Poppins";
  padding-top: 2rem;
  margin-top: 3rem;
  color: black;
}

#tutorial {
  background-color: white;
  color: black;
  font-family: "Poppins";
  padding-top: 1rem;
  padding-bottom: 6rem;
  height: auto;
}

.konten {
  display: flex;
}

.border {
  width: 400px;
  margin-left: 150px;
  margin-right: 10px;
  background-color: #dadcff;
  border-radius: 5px;
  padding: 1rem 1rem;
  transition: 1s;
}

#tutorial h6 {
  font-size: 25px;
  /* text-shadow: 0px 0px 3px ; */
}
.border a {
  margin-bottom: 2rem;
  padding: 3px 3px 3px 3px;
  border-radius: 5px;
  background-color: #b7bbf7;
  text-decoration: none;
  color: black;
  font-family: "Poppins";
}
.border a:hover {
  color: #474747;
  background-color: #eaf5e9;
}
footer {
  display: flex;
  background-color: #c4c5d2;
  justify-content: space-between;
  height: 180px;
  align-items: center;
}

.contact p {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Poppins";
  padding-top: 2rem;
  margin-right: 90px;
}

.contact a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
  font-family: "Poppins";
}

.logo p {
  font-family: "Oswald";
  font-size: 30px;
  margin-left: 90px;
  color: black;
  padding-top: 3rem;
  width: 50%;
}

span {
  margin-left: 90px;
  font-family: "Poppins";
}

.alamat {
  margin-right: 90px;
  font-family: "Poppins";
}

.alamat a {
  font-family: "Poppins";
  color: black;
  text-decoration: none;
  font-size: 15px;
}

@media screen and (max-width: 560px) {
  .toggle-menu {
    margin-top: 6px;
    display: flex;
    margin-right: 50px;
  }

  nav {
    position: fixed;
    width: auto;
    left: 10px;
    right: 10px;
    top: 10px;
    background-color: #dadcff;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 1px 1px 4px black;
  }
  h4 {
    padding-top: 12px;
    width: 0;
    font-size: 20px;
    margin-left: 30px;
    color: black;
    font-family: "Oswald";
  }
  nav ul li a {
    padding: 0rem 1rem 0rem 1rem;
    margin-bottom: 20px;
    /* margin-left: 30px; */
  }

  .link {
    display: none;
    margin-bottom: 20px;
  }
  .link ul li.active {
    display: flex;
  }
  ul {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    transition: 1s;
  }
  .conten img {
    height: 150px;
    width: 150px;
  }
  .conten {
    padding-top: 7rem;
    text-align: center;
    color: black;
    text-shadow: none;
    font-size: 20px;
    height: auto;
  }
  .judul-tutorial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #tutorial hr {
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 130px;
  }
  .judul-tentang {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .judul-tentang hr {
    margin: 0;
    margin-top: -15px;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  .judul-tentang {
    background-color: #dadcff;
  }
  .judul-tentang h5 {
    margin-left: 0;
    text-align: center;
    padding-top: 1rem;
    font-size: 25px;
  }
  .deskripsi {
    flex-direction: column;
    background-color: #dadcff;
  }
  .deskripsi img {
    width: 300px;
    height: 230px;
    padding-bottom: 2rem;
    background-color: transparent;
  }
  .deskripsi p {
    margin-left: 0;
    font-size: 15px;
    width: auto;
    padding-left: 3rem;
    width: auto;
    text-align: center;
    margin-right: 40px;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  .tutorial {
    background-color: white;
  }
  #tutorial h5 {
    margin: 0;
    text-align: center;
    font-size: 25px;
  }

  .border a {
    margin-top: 1rem;
    background-color: #b7bbf7;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
  }
  .border a:hover {
    color: #474747;
  }
  .border {
    padding-top: 1rem;
    margin-left: 60px;
    margin-top: 30px;
    width: auto;
    margin-right: 60px;
  }
  .konten {
    flex-direction: column;
  }
  .tutorial h6 {
    font-size: 20px;
  }
  .tutorial p {
    font-size: 15px;
  }
  footer {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo p {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
  }
  .logo span {
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .contact p {
    font-family: "Oswald";
    margin-left: 20px;
  }
  .contact a {
    margin-left: 20px;
  }
  .contact i {
    margin-left: 20px;
  }
  .alamat {
    margin-left: 20px;
    margin-right: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 430px) {
  .judul-tutorial hr {
    margin: 0;
    left: 0;
    margin-left: 180px;
    margin-top: -20px;
    margin-bottom: 30px;
  }
  .tentang hr {
    left: 0;
    margin-left: 95px;
    margin-top: -5px;
  }
}
