:root {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Poppins";
  src: url(../Poppins/Poppins-LightItalic.ttf);
}
@font-face {
  font-family: "Oswald";
  src: url(../Oswald/Oswald-VariableFont_wght.ttf);
}

body {
  background-color: #f5f5f5;
  max-width: 1260px;
  /* background-image: url("../image/gambar1.jpg"); */
  background-repeat: no-repeat;
  background-size: 1260px 800px;
}

.home {
  height: auto;
}

nav {
  position: fixed;
  display: flex;
  width: 1260px;
  align-items: center;
  background-color: #ebebed;
  box-shadow: 0px 0px 4px black;
}

ul {
  display: flex;
}

h4 {
  height: auto;
  /* width: 500px; */
  margin-top: 1rem;
  margin-left: 90px;
  margin-right: 3rem;
  margin-bottom: 1rem;
  font-family: "Oswald";
  color: black;
  font-size: 30px;
  align-items: center;
}

a {
  color: black;
  font-family: "Poppins";
}

.link ul li a {
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
  transition: 0.5s;
}

.toggle-menu {
  position: absolute;
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  width: 30px;
  height: 21px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.toggle-menu .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.link ul li a:hover {
  color: black;
  background-color: #dedee3;
  width: 100%;
}

.link ul {
  list-style: none;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.conten {
  height: 260px;
  font-family: "Poppins";
  margin-left: 90px;
  font-size: 30px;
  margin-top: 200px;
  color: black;
  text-shadow: 1px 1px 4px #c4c5d2;
}

.tentang {
  background-color: white;
}

.garis {
  border-left: 1px black solid;
  width: 0px;
  height: 100px;
}

.tentang h5 {
  padding-bottom: 1rem;
}

.deskripsi {
  display: flex;
  align-items: center;
  background-color: white;
}

h5 {
  margin-left: 90px;
  font-size: 40px;
  font-family: "Poppins";
  padding-top: 2rem;
  margin-top: 3rem;
  color: black;
}
.deskripsi p {
  margin-left: 90px;
  font-family: "Poppins";
  font-size: 20px;
  width: 50%;
}

.deskripsi img {
  width: 400;
  height: 350px;
}

.tutorial h5 {
  margin-top: 20px;
  padding-top: 1rem;
  color: black;
  padding-bottom: 2rem;
}

.tutorial {
  background-color: white;
  color: black;
  font-family: "Poppins";
  padding-top: 1rem;
  padding-bottom: 6rem;
  height: auto;
}

.konten {
  display: flex;
}

.border {
  width: 300px;
  margin-left: 150px;
  margin-right: 100px;
  box-shadow: 1px 1px 4px black;
  background-color: #ededed;
  border-radius: 5px;
  padding: 1rem 1rem;
  transition: 1s;
}

.tutorial h6 {
  font-size: 25px;
  /* text-shadow: 0px 0px 3px ; */
}
.border:hover {
  transform: scale(1.1);
}
.border a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
}

footer {
  display: flex;
  background-color: #c4c5d2;
  justify-content: space-between;
  height: 180px;
  align-items: center;
}

.contact p {
  margin-bottom: 10px;
  font-size: 20px;
  font-family: "Poppins";
  padding-top: 2rem;
  margin-right: 90px;
}

.contact a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  align-items: center;
  font-family: "Poppins";
}

.logo p {
  font-family: "Oswald";
  font-size: 30px;
  margin-left: 90px;
  color: black;
  padding-top: 3rem;
  width: 50%;
}

span {
  margin-left: 90px;
  font-family: "Poppins";
}

.alamat {
  margin-right: 90px;
  font-family: "Poppins";
}

.alamat a {
  font-family: "Poppins";
  color: black;
  text-decoration: none;
  font-size: 15px;
}

@media screen and (max-width: 560px) {
  body {
    background-color: #f5f5f5;
    background-image: none;
  }
  .toggle-menu {
    display: none;
    margin-left: 25px;
  }

  nav {
    width: auto;
    position: fixed;
    margin-right: 10px;
    background-color: #ededed;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    box-shadow: 1px 1px 4px black;
  }
  h4 {
    font-size: 20px;
    margin-left: 30px;
    color: black;
    font-family: "Oswald";
    width: auto;
  }

  ul {
    display: none;
    flex-direction: column;
    transition: 1s;
  }
  .conten {
    text-align: center;
    color: black;
    text-shadow: none;
    margin-left: 50px;
    font-size: 20px;
    height: 100px;
    margin: 70px;
  }
  .tentang {
    margin-top: 20px;
  }
  .tentang h5 {
    margin-left: 200px;
    padding-top: 3rem;
    font-size: 25px;
  }
  .deskripsi img {
    display: none;
  }
  .deskripsi p {
    font-size: 15px;
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    padding-bottom: 3rem;
    padding-top: 1rem;
  }
  .tutorial {
    background-color: #f5f5f5;
    margin-top: 1rem;
  }
  .tutorial h5 {
    padding-top: 1rem;
    font-size: 25px;
    margin-left: 200px;
  }
  .border {
    padding-top: 1rem;
    margin-left: 60px;
    margin-top: 30px;
    width: auto;
    margin-right: 60px;
    box-shadow: 1px 1px 4px black;
  }
  .konten {
    flex-direction: column;
  }
  .tutorial h6 {
    font-size: 20px;
  }
  .tutorial p {
    font-size: 15px;
  }
  footer {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }
  .logo p {
    margin-top: 20px;
    font-size: 20px;
    margin-left: 20px;
  }
  .logo span {
    font-size: 15px;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .contact p {
    font-family: "Oswald";
    margin-left: 20px;
  }
  .contact a {
    margin-left: 20px;
  }
  .contact i {
    margin-left: 20px;
  }
  .alamat {
    margin-left: 20px;
    margin-right: 60px;
    padding-top: 50px;
    padding-bottom: 20px;
  }
}
